@import "tailwindcss";

@theme {
  --color-green-primary: #0D8112;
  --color-grey-1: #585858;
  --color-grey-2: #C6C6C6;
  --color-grey-3: #F5F5F5;
  --color-pink-1: #FFB8EF;
  --color-pink-2: #773E75;
  --color-pink-3: #E7AADA;
}

body {
  background: var(--color-grey-3);
  font-family: Inter, Helvetica, sans-serif;
}
